
{% extends 'base.html' %}
{% load static %}



{% block contenido %}
<!-- Banner -->
<section id="banner" class="min">
    <div class="inner">
                
    <header class="min">
        <h1>AVENTURATE Y EXPLORÁ TODAS LAS CATEGORÍAS DISPONIBLES ACÁ</h1>
    </header>
<div class="content">
    <ul class="actions">
        <li><a href="#one" class="button next scrolly">EMPEZA TU RECORRIDO</a></li>
    </ul>
</div>
</div>
</section>

     <!-- Main -->
     <div id="main">
        <!-- One -->
        <section id="one" class="tiles">
            <article>
                <span class="image">
                    <img src="{% static 'images/it.jpg' %}" alt="" />
                </span>
                <header class="major">
                    <h3><a href="{% url 'terror' %}" class="link">TERROR</a></h3>
                    <p>Horrores entre páginas inquietantes</p>
                </header>
            </article>
            <article>
                <span class="image">
                    <img src="{% static 'images/ruiseñor.jpg' %}" alt="" />
                </span>
                <header class="major">
                    <h3><a href="{% url 'romance' %}" class="link">ROMANCE</a></h3>
                    <p>Amor entrelazado en historias cautivadoras</p>
                </header>
            </article>
            <article>
                <span class="image">
                    <img src="{% static 'images/pyj.jpg' %}" alt="" />
                </span>
                <header class="major">
                    <h3><a href="{% url 'ficcion' %}" class="link">FICCION</a></h3>
                    <p>Aventuras en mundos imaginarios inexplorados</p>
                </header>
            </article>
            <article>
                <span class="image">
                    <img src="{% static 'images/ciencia.jpg' %}" alt="" />
                </span>
                <header class="major">
                    <h3><a href="{% url 'ciencia' %}" class="link">CIENCIA</a></h3>
                    <p>Explorando los misterios del cosmos</p>
                </header>
            </article>
            <article>
                <span class="image">
                    <img src="{% static 'images/historia.jpg' %}" alt="" />
                </span>
                <header class="major">
                    <h3><a href="{% url 'historia' %}" class="link">HISTORIA</a></h3>
                    <p>Viajes en el tiempo narrados</p>
                </header>
            </article>
            <article>
                <span class="image">
                    <img src="{% static 'images/guerra.jpeg' %}" alt="" />
                </span>
                <header class="major">
                    <h3><a href="{% url 'guerra' %}" class="link">GUERRA</a></h3>
                    <p>Epicos relatos de valentía militar</p>
                </header>
            </article>
        </section>
{% endblock contenido %}
    