{% extends 'base.html' %}
{% load static %}


{% block contenido %}
    <!-- Banner -->
<section id="banner" class="min">
    <div class="inner">
                
        <header style="text-align: center; border-radius: 20px; background-color:#9c7fee ; padding: 10px;">
            <h1 style="display: inline-block; padding: 10px; background-color: #9c7fee; border-radius: 10px;">AVENTURATE Y EXPLORÁ LOS MISTERIOS DEL COSMOS 🧬🪐🧪🔬🚀🧲☄️</h1>
        </header>
</div>
</section>


<div class="card" style="display: grid; background-color: #7ccf87; border: 5px solid black;">
    <img class="card-img-top" src="{% static 'images/CSP.jpg' %}" style="width: 60%; height: 60%; place-self: center; margin-top: 20px; border: 5px solid black;" alt=" ">

    <div class="card-body" style="width: auto; height: auto;">
        <h4 class="card-title">COSMOS: UN VIAJE PERSONAL</h4>
      <p class="card-text">Cosmos: un viaje personal , es una serie documental de divulgación científica escrita por Carl Sagan, Ann Druyan y Steven Soter (con Sagan como guionista principal y presentador), cuyos objetivos fundamentales fueron:
        Difundir la historia de la astronomía y de la ciencia, así como sobre el origen de la vida.
        Hacer conciencia sobre el lugar que ocupa nuestra especie y nuestro planeta en el universo, y presentar las modernas visiones de la cosmología y las últimas noticias de la exploración espacial, y en particular, las misiones Voyager.
        El programa de televisión estuvo listo en 1980 y constaba de trece episodios, cada uno de aproximadamente una hora de duración. La música utilizada fue mayormente obra de Vangelis y otros. Ganó un Premio Emmy y un Peabody. La serie se ha emitido en 60 países y ha sido vista por más de 400 millones de personas. Tras el rodaje de la serie, Sagan escribió el libro homónimo Cosmos, complementario al documental.</p>
    </div>
    {% if user.is_authenticated %}
<form method="post" enctype="multipart/form-data"> {% csrf_token %}
    {{form}}

    <button type="submit">Comentar!</button>

</form>
{% else %}
<a href="{% url 'login' %}">Inicia sesión para comentar</a>    
{% endif %}
    <div class="card" style="width: 100%; padding: 5px;">
        <div class="card-header">
            COMENTARIOS
        </div>
    
    
        <ul class="list-group list-group-flush">
    
    
            {% if publicacion.comentarios.all %}
    
            {% for comentario in publicacion.comentarios.all %}
            <div class="comentario-header">
                <strong>{{comentario.creador}}</strong>
                
                {% if user.is_authenticated %}
                    {% if user == comentario.creador %}
                        <!-- Mostrar botones solo si el usuario actual es el creador del comentario -->
                        <a href="{% url 'borrar-comentario' comentario.id %}">
                            <i class="fa-solid fa-trash"></i>
                        </a>
                        <a href="{% url 'editar-comentario' comentario.id %}">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </a>
                    {% else %}
                        <!-- Mostrar mensaje de falta de permisos -->
                        <span style="color: red;">No tienes permisos para modificar/eliminar este comentario.</span>
                    {% endif %}
                {% endif %}
            </div>
            
            <li class="list-group-item">{{comentario.texto}}</li>
        {% endfor %}
        
    
            {% else %}
            <p>No hay comentario aun.</p>
            {% endif %}
    
    
    
        </ul>
    
    </div>

{% endblock contenido %}
    