{% extends 'base.html' %}
{% load static %}


{% block contenido %}

<!-- Banner -->
<section id="banner" class="min">
    <div class="inner">

        <header style="text-align: center; border-radius: 20px; background-color: #8990a2; padding: 10px;">
            <h1 style="display: inline-block; padding: 10px; background-color: #8990a2; border-radius: 10px;">¡HOLA
                AVENTURERO! ¿LISTO PARA EXPLORAR NUEVOS MUNDOS? 🐉🧚‍♀️🧝</h1>
        </header>
    </div>
</section>


<article class="card" style="display: grid; background-color: #7ccf87; border: 5px solid black; ">
    <img class="card-img-top" src="{% static 'images/banners-categorias/anillos-banner.png' %}"
        style="width: 80%; height: auto; place-self: center; margin-top: 20px; border: 5px solid black;" alt=" ">
    <div class="card-body" style="width: auto; height: auto;">
        <h4 class="card-title">EL SEÑOR DE LOS ANILLOS</h4>
        <p class="card-text">El Señor de los Anillos, es una novela de fantasía épica escrita por el filólogo y escritor
            británico J. R. R. Tolkien. Su historia se desarrolla en la Tercera Edad del Sol de la Tierra Media, un
            lugar ficticio poblado por hombres y otras razas antropomorfas, como los hobbits, los elfos o los enanos,
            así como por muchas otras criaturas reales y fantásticas. La novela narra el viaje del protagonista
            principal, Frodo Bolsón, hobbit de la Comarca, para destruir el Anillo Único y la consiguiente guerra que
            provocará el enemigo para recuperarlo, ya que es la principal fuente de poder de su creador, el señor oscuro
            Sauron.</p>
    </div>
</article>
{% if user.is_authenticated %}
<form method="post" enctype="multipart/form-data"> {% csrf_token %}
    {{form}}

    <button type="submit" style="margin-top: 30px;">Comentar!</button>

</form>
{% else %}
<p style="margin-top: 30px;"><a href="{% url 'login' %}">Inicia sesión</a> para comentar</p>
{% endif %}
<div class="card" style="width: 100%; padding: 5px;">
    <div class="card-header">
        COMENTARIOS
    </div>


    <ul class="list-group list-group-flush">


        {% if publicacion.comentarios.all %}

        {% for comentario in publicacion.comentarios.all %}
        <div class="comentario-header">
            <strong>{{comentario.creador}}</strong>

            {% if user.is_authenticated %}
            {% if user == comentario.creador %}
            <!-- Mostrar botones solo si el usuario actual es el creador del comentario -->
            <a href="{% url 'borrar-comentario' comentario.id %}">
                <i class="fa-solid fa-trash"></i>
            </a>
            <a href="{% url 'editar-comentario' comentario.id %}">
                <i class="fa-solid fa-pen-to-square"></i>
            </a>
            {% else %}
            <!-- Mostrar mensaje de falta de permisos -->
            <span style="color: red;">No tienes permisos para modificar/eliminar este comentario.</span>
            {% endif %}
            {% endif %}
        </div>

        <li class="list-group-item">{{comentario.texto}}</li>
        {% endfor %}


        {% else %}
        <p>No hay comentario aun.</p>
        {% endif %}



    </ul>

</div>







{% endblock contenido %}