{% extends 'base.html' %}
{% load static %}


{% block contenido %}
    <!-- Banner -->
<section id="banner" class="min">
    <div class="inner">
        <header style="text-align: center; border-radius: 20px; background-color:#9c7fee ; padding: 10px;">
            <h1 style="display: inline-block; padding: 10px; background-color: #9c7fee; border-radius: 10px;">¿LISTO PARA ÉPICOS RELATOS DE VALENTIA?🐉🧚‍♀️🧝</h1>
        </header>    
</div>
</section>

    
        <section id="one" class="tiles">
            <article>
                <span class="image">
                    <img src="{% static 'images/guerra.jpeg' %}" alt="" />
                </span>
                <header class="major">
                    <h3><a href="landing.html" class="link">GUERRA</a></h3>
                    <p>Epicos relatos de valentía militar</p>
                </header>
            </article>
        </section>
{% endblock contenido %}