{% extends 'base.html' %}
{% load static %}


{% block contenido %}
    <!-- Banner -->
<section id="banner" class="min">
    <div class="inner">
                
        <header style="text-align: center; border-radius: 20px; background-color:#9c7fee ; padding: 10px;">
            <h1 style="display: inline-block; padding: 10px; background-color: #9c7fee; border-radius: 10px;">ANIMATE A VIAJAR A TRAVÉS DEL TIEMPO CON NOSOTROS ⏳🕰️⌛</h1>
        </header>    

</div>
</section>

     <!-- Main -->
     <div id="main">
        <!-- One -->
        <section id="one" class="tiles">
            <article>
                <span class="image">
                    <img src="{% static 'images/historia.jpg' %}" alt="" />
                </span>
                <header class="major">
                    <h3><a href="landing.html" class="link">HISTORIA</a></h3>
                    <p>Viajes en el tiempo narrados</p>
                </header>
            </article>
        </section>
{% endblock contenido %}
    