{% extends 'base.html' %}
{% load static %}


{% block contenido %}
<!-- Condicional para mostrar título y descripciones personalizadas en cada categoria -->
{% if publicaciones %}
<div class="text-center mt-4">
    {% if publicaciones.0.categoria.nombre == 'terror' %}
        <h2>¿ESTÁS LISTO PARA DESCUBRIR CUAN VALIENTE ERES?</h2>
    {% elif publicaciones.0.categoria.nombre == 'romance' %}
        <h2>¿ESTÁS LISTO PARA DESCUBRIR EL AMOR Y TODO LO QUE ESTO CONLLEVA?</h2>
    {% elif publicaciones.0.categoria.nombre == 'ficcion' %}
        <h2>¡HOLA AVENTURERO! ¿LISTO PARA EXPLORAR NUEVOS MUNDOS?</h2>
    {% elif publicaciones.0.categoria.nombre == 'ciencia' %}
        <h2>AVENTURATE Y EXPLORÁ LOS MISTERIOS DEL COSMOS</h2>
    {% elif publicaciones.0.categoria.nombre == 'historia' %}
        <h2>ANIMATE A VIAJAR A TRAVÉS DEL TIEMPO CON NOSOTROS</h2>
    {% elif publicaciones.0.categoria.nombre == 'guerra' %}
        <h2>¿LISTO PARA ÉPICOS RELATOS DE VALENTIA?</h2>
    {% else %}
        <h2>EXPLORÁ TODAS LAS PUBLICACIONES DE ESTA CATEGORÍA</h2>
    {% endif %}
</div>
{% endif %}

<div class="row row-cols-1 row-cols-md-3 g-4" style="margin-right: auto;">
    {% for publicacion in publicaciones %}
    <!-- Tarjeta de Publicación -->
    <div class="col">
        <div id="postCat" class="card h-100">
            <!-- Condicional para mostrar imagen si existe -->
            {% if publicacion.imagen %}
            <img src="{{ publicacion.imagen.url }}" class="card-img-top" alt="...">
            {% else %}
            <img src="{% static 'images/default_post.png' %}" class="card-img-top" alt="...">
            {% endif %}

            <div class="card-body">
                <h4 class="card-title">{{publicacion.titulo}}</h4>
                <p class="card-text">{{publicacion.cuerpo|truncatewords:20}}</p>
            </div>

            <!-- Footer de la tarjeta -->
            <div class="card-footer" style="background-color: #c8c8c8;">
                <div class="d-grid gap-2 mx-auto">
                    <a href="{% url 'detalle-publicacion' publicacion.id %}" class="btn btn-outline-secondary"
                        role="button">Ver publicación</a>
                </div>

                {{publicacion.fecha}} - <strong style="color: gray;">@{{publicacion.creador.username}}</strong>

                <!-- Verificamos si el usuario está logeado para mostrar opciones de modificación -->
                {% if user.is_authenticated %}
                <!-- Comprobamos que sea el creador del post o un superuser -->
                {% if user == publicacion.creador or user.is_superuser %}
                <span>
                    <!-- Botón eliminar -->
                    <a href="{% url 'eliminar-publicacion' publicacion.id %}">
                        <i class="fa-solid fa-trash" style="margin-right: 5px; margin-top: 5px; float: right;"></i>
                    </a>
                    <!-- Botón modificar -->
                    <a href="{% url 'modificar-publicacion' publicacion.id %}">
                        <i class="fa-regular fa-pen-to-square"
                            style="margin-right: 10px; margin-top: 5px; float: right;"></i>
                    </a>
                </span>
                {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock contenido %}