{% extends 'base.html' %}
{% load static %}


{% block contenido %}
<!-- Banner -->
<section id="banner" class="min">
    <div class="inner">
                
        <header style="text-align: center; border-radius: 20px; background-color: #8990a2; padding: 10px;">
            <h1 style="display: inline-block; padding: 10px; background-color: #8990a2; border-radius: 10px;">¿ESTÁS LISTO PARA DESCUBRIR EL AMOR Y TODO LO QUE ESTO CONLLEVA? 💝💐 🖤🥀</h1>
        </header>    
    </div>
</section>


<div class="card" style="display: grid; background-color: #7ccf87; border: 5px solid black;">
    <img class="card-img-top" src="{% static 'images/RyJ.jpg' %}" style="width: 65%; height: 65%; place-self: center; margin-top: 20px; border: 5px solid black;" alt=" ">
    <div class="card-body" style="width: auto; height: auto;">
        <h4 class="card-title">ROMEO Y JULIETA</h4>
      <p class="card-text">Romeo y Julieta, La excelente y lamentable tragedia de Romeo y Julieta, es una tragedia del dramaturgo inglés William Shakespeare. Cuenta la historia de dos jóvenes que, a pesar de la oposición de sus familiares, rivales entre sí, deciden casarse de forma ilegal y vivir juntos; sin embargo, la presión de esa rivalidad y una serie de fatalidades conducen a que la pareja elija el suicidio antes que vivir separados. Esta relación entre sus protagonistas se ha convertido en el arquetipo de los llamados amantes desventurados o star-crossed lovers. La muerte de ambos, sin embargo, supone la reconciliación de las dos familias.</p>
    </div>
    <h3>COMENTAR:<h3>
        <form method="post" enctype="multipart/form-data"> {% csrf_token %}
            {{form}}
    
            
            <textarea  class="form_class" id="Publicacion"></textarea>
            <button type="submit">COMENTAR</button>
        </form>
        {% for comentario in comentarios %}
        <div>
            <p>{{ comentario.texto }}</p>
            <!-- Añade más campos del comentario según tus necesidades -->
        </div>
    {% endfor %}
    </div>


{% endblock contenido %}
