{% extends 'base.html' %}
{% load static %}


{% block contenido %}
<!-- Banner -->
<section id="banner" class="min">
    <div class="inner">

        <header style="text-align: center; border-radius: 20px; background-color: #8990a2; padding: 10px;">
            <h1 style="display: inline-block; padding: 10px; background-color: #8990a2; border-radius: 10px;">¿ESTÁS
                LISTO PARA DESCUBRIR EL AMOR Y TODO LO QUE ESTO CONLLEVA? 💝💐 🖤🥀</h1>
        </header>
    </div>
</section>


<article class="card" style="display: grid; background-color: #7ccf87; border: 5px solid black;">
    <img class="card-img-top" src="{% static 'images/ryj-banner.png' %}"
        style="width: 80%; height: auto; place-self: center; margin-top: 20px; border: 5px solid black;" alt=" ">
    <div class="card-body" style="width: auto; height: auto;">
        <h4 class="card-title">ROMEO Y JULIETA</h4>
        <p class="card-text">Romeo y Julieta, La excelente y lamentable tragedia de Romeo y Julieta, es una tragedia del
            dramaturgo inglés William Shakespeare. Cuenta la historia de dos jóvenes que, a pesar de la oposición de sus
            familiares, rivales entre sí, deciden casarse de forma ilegal y vivir juntos; sin embargo, la presión de esa
            rivalidad y una serie de fatalidades conducen a que la pareja elija el suicidio antes que vivir separados.
            Esta relación entre sus protagonistas se ha convertido en el arquetipo de los llamados amantes desventurados
            o star-crossed lovers. La muerte de ambos, sin embargo, supone la reconciliación de las dos familias.</p>
    </div>
</article>

{% if user.is_authenticated %}
<form method="post" enctype="multipart/form-data"> {% csrf_token %}
    {{form}}

    <button type="submit" style="margin-top: 30px;">Comentar!</button>

</form>
{% else %}
<p style="margin-top: 30px;"><a href="{% url 'login' %}">Inicia sesión</a> para comentar</p>
{% endif %}
<div class="card" style="width: 100%; padding: 5px;">
    <div class="card-header">
        COMENTARIOS
    </div>


    <ul class="list-group list-group-flush">


        {% if publicacion.comentarios.all %}

        {% for comentario in publicacion.comentarios.all %}
        <div class="comentario-header">
            <strong>{{comentario.creador}}</strong>

            {% if user.is_authenticated %}
            {% if user == comentario.creador %}
            <!-- Mostrar botones solo si el usuario actual es el creador del comentario -->
            <a href="{% url 'borrar-comentario' comentario.id %}">
                <i class="fa-solid fa-trash"></i>
            </a>
            <a href="{% url 'editar-comentario' comentario.id %}">
                <i class="fa-solid fa-pen-to-square"></i>
            </a>
            {% else %}
            <!-- Mostrar mensaje de falta de permisos -->
            <span style="color: red;">No tienes permisos para modificar/eliminar este comentario.</span>
            {% endif %}
            {% endif %}
        </div>

        <li class="list-group-item">{{comentario.texto}}</li>
        {% endfor %}


        {% else %}
        <p>No hay comentario aun.</p>
        {% endif %}



    </ul>

</div>



{% endblock contenido %}