{% extends 'base.html' %}
{% load static %}


{% block contenido %}
<!-- Banner -->
<section id="banner" class="min">
    <div class="inner">
                
        <header style="text-align: center; border-radius: 20px; background-color:#007f7f; padding: 10px;">
            <h1 style="display: inline-block; padding: 10px; background-color: #007f7f; border-radius: 10px;">¿ESTÁS LISTO PARA DESCUBRIR CUAN VALIENTE ERES? 🔪 🩸 🦇 🕯 🪦 ☠</h1>
        </header>    
</div>
</section>


<div class="card" style="display: grid; background-color: #7ccf87; border: 5px solid black;">
    <img class="card-img-top" src="{% static 'images/it.jpg' %}" style="width: 61%; height: 61%; place-self: center; margin-top: 20px; border: 5px solid black;" alt=" ">
    <div class="card-body" style="width: auto; height: auto;">
        <h4 class="card-title">IT</h4>
      <p class="card-text">It, es una novela de terror publicada en 1986 por el escritor estadounidense Stephen King. Cuenta la historia, en un juego de correspondencias con el pasado y el presente, de un grupo de siete amigos que son perseguidos por una entidad sobrenatural, al que llaman «Eso», que es capaz de cambiar de forma y se alimenta principalmente del terror que produce en sus víctimas. La narración orbita en torno a la localidad ficticia de Derry y la inexplicable aura de horror y muerte que la rodea.</p>
    </div>
    <h3>COMENTAR<h3>
        <form method="post" enctype="multipart/form-data"> {% csrf_token %}
            {{form}}
    
            
            <textarea  class="form_class" id="Publicacion"></textarea>
            <button type="submit">COMENTAR:</button>
        </form>
        {% for comentario in comentarios %}
        <div>
            <p>{{ comentario.texto }}</p>
            <!-- Añade más campos del comentario según tus necesidades -->
        </div>
    {% endfor %}
    </div>
    

{% endblock contenido %}
    