{% extends 'base.html' %}
{% load static %}

{% block contenido %}
<div class="card" style="width: 0%;">

  {% if user.imagen_perfil %}
  <img src="{{user.imagen_perfil.url}}" class="card-img-top" alt="imagen de perfil" style="height: 100px; width: 100px; padding: 5px;">
  {% else %}
  <img src="{% static 'images/default_avatar.jpg' %}" class="card-img-top" alt="imagen de perfil" style="height: 100px; width: 100px; padding: 5px;">
  {% endif %}


  <div class="card-body">
    <h5 class="card-title">Nombre: {{user.first_name}} {{user.last_name}}</h5>

  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><i class="fa-regular fa-user"></i> @{{user.username}}</li>

    {% if user.telefono %}
    <li class="list-group-item"><i class="fa-solid fa-phone"></i> {{user.telefono}}</li>
    {% endif %}

    
    {% if user.domicilio %}
    <li class="list-group-item"><i class="fa-solid fa-location-dot"></i> {{user.domicilio}}</li>
    {% endif %}

  </ul>
  <div class="card-body">
    <a href="{% url 'editar-perfil' user.id %}" class="card-link">Editar perfil</a>
  </div>
</div>

{% endblock contenido %}