/*Estilo de tarjeta de publicaciones*/
.card{
    height: 50px;
    width: 230px;
    margin-top: 60px;
}


/*Estilo de cuerpo de pagina cuando no hay publicaciones*/
.middlebody{
    height: 480px;
    width: auto;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 10px;
    margin-top: 20px;
}

/*Estilo de botones en registrarse e iniciar sesion para crear una separacion con el campo de texto de arriba*/
#btn-registrarse,
#btn-login{
    margin-top: 30px;
}