nav img {
    margin: 5px;
}
/*Ocultar botón INICIAR SESION en pantallas mas pequeñas*/
@media screen and (max-width: 600px) {
    .ocultar-item{
        visibility: hidden;
    }
}

@media screen and (max-width: 480px) {
    .nav-menu{
        margin-left: -31%;
    }
}

/*Estilo de cuerpo de pagina cuando no hay publicaciones*/
.middlebody {
    height: 480px;
    width: auto;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 10px;
    margin-top: 20px;
}

/*Estilo de botones en registrarse e iniciar sesion para crear una separacion con el campo de texto de arriba*/
#btn-registrarse,
#btn-login {
    margin-top: 30px;
}

strong {
    color: black;
}

#postCat.card{
    box-shadow: 0 2px 6px 0 rgb(218 218 253 / 65%), 0 2px 6px 0 rgb(206 206 238 / 54%);
}

/*ESTILOS DE TARJETA EN MI PERFIL*/
#miPerfil.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid transparent;
    border-radius: .25rem;
    margin-bottom: 1.5rem;
    box-shadow: 0 2px 6px 0 rgb(218 218 253 / 65%), 0 2px 6px 0 rgb(206 206 238 / 54%);
}

#miPerfil h4,
#miPerfil h6 {
    color: black;
}
/*Botón editar perfil*/
#miPerfil h5.mb-0 a.btn{
    font-weight: bold;
    border: 1px solid #d5d9d9;
    border-radius: 8px;
    box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
}

/* Media query solo para pantallas de tamaño medio (md) o superiores */
@media (min-width: 768px) {
    #miPerfil.card {
        display: flex;
        width: 30%;
        margin-left: auto;
        margin-right: auto;
    }
}
/*FIN ESTILOS TARJETA MI PERFIL*/