{% extends 'base.html' %}
{% load static %}

<style>
  strong{
    color: black;
  }
</style>
{% block contenido %}
<div>
  <h2>PUBLICACIONES</h2>
</div>

<form method="get">

  <!--Filtro por categoria-->

  <select name="categoria" id="">
    <option value="">Todas</option>
    {% for categoria in categorias %}
    <option value="{{categoria.id}}">{{categoria.nombre}}</option>
    {% endfor %}

  </select>

  <!--Ordenar-->
 
  <select name="orderby" id="">
    <option value="">Ordenar por</option>
    <option value="fecha_asc">Fecha ascendente</option>
    <option value="fecha_desc">Fecha descendentes</option>
    <option value="alf_asc">Alfabeticamente ascendente</option>
    <option value="alf_desc">Alfabeticamente descendente</option>
  </select>


  <button type="submit">Filtrar</button>
</form>



{% if user.is_colaborador or user.is_superuser %}
<a href="{% url 'publicar' %}" class="button">publicar algo nuevo</a>  
{% endif %}
  


<!--Llamamos al diccionario de contexto dentro de la funcion publicaciones_views-->
{% for publicacion in publicaciones %}
<!--Tarjeta de Publicación-->
<div class="card">
  <div class="card-header">
    {{publicacion.fecha}} - @{{publicacion.creador.username}}
    {% if user.is_colaborador or user.is_superuser %}
    <span>
        <!-- Botón eliminar -->
        
      <a href="{% url 'eliminar-publicacion' publicacion.id %}"><i class="fa-solid fa-trash"></i></a>
      <!-- Botón modificar -->
      <a href="{% url 'modificar-publicacion' publicacion.id %}"><i class="fa-regular fa-pen-to-square"></i></a>
    </span>
    {% endif %}
  </div>
  <div class="card-body">
    <h5 class="card-title">{{publicacion.titulo}}</h5>
    <p class="card-text">{{publicacion.cuerpo}}</p>
    <p class="card-text"><i class="fa-solid fa-tag"></i>{{publicacion.categoria}}</p>
    <a href="{% url 'detalle-publicacion' publicacion.id %}" class="btn btn-primary">Leer más</a>
  </div>
</div>
{% endfor %}


{% endblock contenido %}