{% extends 'base.html' %}
{% load static %}

{% block contenido %}
<div class="container">
    <div class="main-body">
        <div class="row">
            <!--Titulo principal-->
            <h2 style="text-align: center;">SOBRE BLOCK-B</h2>
            <!--Contenido-->
            <div>

                <div class="contenido">
                    <!--Imagen-->
                    <img class="img-about" src="{% static 'images/acerca_de.webp' %}" alt="Mujer sosteniendo taza de café">

                    <div class="text-container">
                        <h4 style="text-align: center;">Quienes somos</h4>
                        <p>Somos el <b>Grupo 6</b> de la <b>Comisión 7</b> del <b>Informatorio</b>. Block-B fue creado como proyecto final del curso de Desarrollo Web, utilizando las tecnologías de <b><i>Python</i></b> y <b><i>Django</i></b>.
                        </p>
                        <h4 style="text-align: center;">¡Block-B, tu destino literario definitivo!</h4>
                        <p>En Block-B nos apasiona la magia de los libros y creemos en el poder de las palabras para
                            transportarnos a mundos desconocidos, despertar emociones profundas y ampliar nuestra
                            comprensión del mundo que nos rodea.<br><br>
                            En Block-B encontrarás reseñas, recomendaciones y una variedad de contenido relacionado con
                            libros que esperamos te inspire a descubrir nuevas historias. </p>
                    </div>
                </div>

                <div>
                    <p style="text-align: center;">¡Gracias por visitar nuestro sitio!</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock contenido %}