{% extends 'base.html' %}
{% load static %}

{% block contenido %}

<div class="container">
    <h1 style="padding: 10px; background-color: #9c7fee; border-radius: 10px; text-align: center;">SOBRE BLOCK-B</h1> 
    <p style="padding: 10px; background-color: #9c7fee; border-radius: 10px; text-align: center;">¡BIENVENIDO A NUESTRA BIBLIOTECA, UN REFUGIO PARA LOS AMANTES DE LA LECTURA! DISFRUTA DE MOMENTOS INOLVIDABLES SUMERGIÉNDOTE EN LAS PÁGINAS DE NUESTROS LIBROS CUIDADOSAMENTE SELECCIONADOS. EXPLORA MUNDOS INEXPLORADOS, CONOCE PERSONAJES FASCINANTES Y DÉJATE LLEVAR POR LAS HISTORIAS QUE ESPERAN ANSIOSAS SER DESCUBIERTAS. EN NUESTRA BIBLIOTECA, CADA LIBRO ES UNA PUERTA A LA IMAGINACIÓN, Y CADA PÁGINA ES UNA NUEVA AVENTURA. ¡SUMÉRGETE EN EL PLACER DE LA LECTURA Y DESCUBRE EL INMENSO UNIVERSO QUE AGUARDA EN CADA ESTANTE!</p>


</div>


{% endblock contenido %}