{% load static %}


<!DOCTYPE HTML>
<html>
	<head>
		<title>BLOCK</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

		  <!--ESTILOS PROPIOS-->
		  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
		  <!--ESTILOS DE BOOSTRAP-->
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
		<link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
		<noscript><link rel="stylesheet" href="{% static 'assets/css/noscript.css' %}" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header" class="alt">
						<a href="{% url 'index'%}" class="logo"><strong>BLOCK-B</strong></a>
					    <a class="nav-item dropdown">
						  <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							Categorías
						  </a>
						  <ul class="dropdown-menu">
							<li><a class="dropdown-item" href="{% url 'terror' %}">Terror</a></li>
							<li><a class="dropdown-item" href="{% url 'romance' %}">Romance</a></li>
							<li><a class="dropdown-item" href="{% url 'ficcion' %}">Ficción</a></li>

						  </ul>
						</a>

						<nav>
							<a href="#menu">Menu</a>
						</nav>
					</header>

				<!-- Menu -->
					<nav id="menu">
						<ul class="links">
							<li><a href="{% url 'index' %}">INICIO</a></li>
							<li><a href="{% url 'ver-publicaciones' %}">PUBLICACIONES</a></li>
							<li><a href="{% url 'ver-categorias' %}">TODAS LAS CATEGORIAS</a></li>
							<li><a href="elements.html">SOBRE BLOCK</a></li>
							<li><a href="elements.html">CONTACTO</a></li>
						</ul>
						<ul class="actions stacked">
							<li><a href="#" class="button primary fit">crea tu cuenta</a></li>
							<li><a href="#" class="button fit">Logeate</a></li>
						</ul>
					</nav>

          <!--MIDDLE BODY-->
		  <div class="middlebody">
			
			{% block contenido %}
				
			{% endblock contenido %}
				
		  </div>
				<!-- Footer -->
				<br> <!--SALTO DE LINEA PARA QUE EL FOOTER NO SE SOBREPONGA EN EL BOBY-->
					<footer id="footer">
						<div class="inner">
							<ul class="icons">
								<li><a href="#" class="icon brands alt fa-twitter"><span class="label">Twitter</span></a></li>
								<li><a href="#" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
								<li><a href="#" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
								<li><a href="#" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
								<li><a href="#" class="icon brands alt fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
							</ul>
							<ul class="copyright">
								<li>&copy; BLOCK</li><li>Design: <a href="https://html5up.net"></a></li>
							</ul>
						</div>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="{% static 'assets/js/jquery.min.js' %}"></script>
			<script src="{% static 'assets/js/jquery.scrolly.min.js' %}"></script>
			<script src="{% static 'assets/js/jquery.scrollex.min.js' %}"></script>
			<script src="{% static 'assets/js/browser.min.js' %}"></script>
			<script src="{% static 'assets/js/breakpoints.min.js' %}"></script>
			<script src="{% static 'assets/js/util.js' %}"></script>
			<script src="{% static 'assets/js/main.js' %}"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
	</body>
</html>