{% extends 'base.html' %}
{% load static %}

{% block contenido %}

<div class="container">
    <h1 style="padding: 10px; background-color: #9c7fee; border-radius: 10px; text-align: center;">Contactanos</h1> 
    <p style="padding: 10px; background-color: #9c7fee; border-radius: 10px; text-align: center;">
        ¡Hola queridos lectores!

Agradecemos sinceramente su visita a nuestro blog de libros. Esperamos que hayan disfrutado explorando nuestras recomendaciones y reseñas literarias. En nuestro compromiso por compartir la magia de la lectura, hemos creado este espacio con pasión y dedicación.

Si el contenido de nuestro blog ha capturado su interés y desean compartir sus pensamientos, sugerencias o simplemente conversar sobre libros, los invitamos cordialmente a ponerse en contacto con nosotros. Estamos abiertos a escuchar sus opiniones y construir una comunidad de amantes de la lectura.

Pueden contactarnos mediante correo electrónico o a través de nuestras redes sociales. Estamos ansiosos por conectar con cada uno de ustedes y compartir nuestra pasión por los libros.

Gracias nuevamente por ser parte de nuestra comunidad de lectores. ¡Esperamos que regresen pronto!

Con gratitud,
El Equipo del Blog de Libros: BLOCK-B
    </p>
    
</div>


{% endblock contenido %}