{% extends 'base.html' %}
{% load static %}


{% block contenido %}

    <!-- Banner -->
<section id="banner" class="min">
    <div class="inner">
                
    <header class="min">
        <h1>¡HOLA AVENTURERO! ¿LISTO PARA EXPLORAR NUEVOS MUNDOS? 🐉🧚‍♀️🧝</h1>
    
    </header>
<div class="content">
    <ul class="actions">
        <li><a href="#one" class="button next scrolly">EMPEZA TU RECORRIDO</a></li>
    </ul>
</div>
</div>
</section>

    <!-- Main -->
    <div id="main">
        <!-- One -->
        <section id="one" class="tiles">
            <article>
                <span class="image">
                    <img src="{% static 'images/pyj.jpg' %}" alt="" />
                </span>
                <header class="major">
                    <h3><a href="landing.html" class="link">FICCIÓN</a></h3>
                    <p>Aventuras en mundos imaginarios inexplorados</p>
                </header>
            </article>
            <article>
                <span class="image">
                    <img src="{% static 'images/pyj.jpg' %}" alt="" />
                </span>
                <header class="major">
                    <h3><a href="landing.html" class="link">FICCIÓN</a></h3>
                    <p>Aventuras en mundos imaginarios inexplorados</p>
                </header>
            </article>
            <article>
                <span class="image">
                    <img src="{% static 'images/pyj.jpg' %}" alt="" />
                </span>
                <header class="major">
                    <h3><a href="landing.html" class="link">FICCIÓN</a></h3>
                    <p>Aventuras en mundos imaginarios inexplorados</p>
                </header>
            </article>
            <article>
                <span class="image">
                    <img src="{% static 'images/pyj.jpg' %}" alt="" />
                </span>
                <header class="major">
                    <h3><a href="landing.html" class="link">FICCIÓN</a></h3>
                    <p>Aventuras en mundos imaginarios inexplorados</p>
                </header>
            </article>
            <article>
                <span class="image">
                    <img src="{% static 'images/pyj.jpg' %}" alt="" />
                </span>
                <header class="major">
                    <h3><a href="landing.html" class="link">FICCIÓN</a></h3>
                    <p>Aventuras en mundos imaginarios inexplorados</p>
                </header>
            </article>
            <article>
                <span class="image">
                    <img src="{% static 'images/pyj.jpg' %}" alt="" />
                </span>
                <header class="major">
                    <h3><a href="landing.html" class="link">FICCIÓN</a></h3>
                    <p>Aventuras en mundos imaginarios inexplorados</p>
                </header>
            </article>
        </section>
{% endblock contenido %}
    
