{% extends 'base.html' %}
{% load static %}


{% block contenido %}
	<!-- Banner -->
    <section id="banner" class="major">
        <div class="inner">
                    
        <header class="major">
            <h1>BIENVENIDO A BLOCK-B</h1>
        </header>
    <div class="content">
        <p>¡Bienvenido a nuestra biblioteca, un refugio para los amantes de la lectura! Disfruta de momentos inolvidables sumergiéndote en las páginas de nuestros libros cuidadosamente seleccionados. Explora mundos inexplorados, conoce personajes fascinantes y déjate llevar por las historias que esperan ansiosas ser descubiertas. En nuestra biblioteca, cada libro es una puerta a la imaginación, y cada página es una nueva aventura. ¡Sumérgete en el placer de la lectura y descubre el inmenso universo que aguarda en cada estante!
       </p>
        <ul class="actions">
            <li><a href="#one" class="button next scrolly">EMPEZA TU RECORRIDO</a></li>
        </ul>
    </div>
    </div>
    </section>
    
    <!-- Main -->
    <div id="main">
    <!-- One -->
    <section id="one" class="tiles">
        <article>
            <span class="image">
                <img src="{% static 'images/it.jpg' %}" alt="" />
            </span>
            <header class="major">
                <h3><a href="{% url 'terror' %}" class="link">TERROR</a></h3>
                <p>Horrores entre páginas inquietantes</p>
            </header>
        </article>
        <article>
            <span class="image">
                <img src="{% static 'images/ruiseñor.jpg' %}" alt="" />
            </span>
            <header class="major">
                <h3><a href="{% url 'romance' %}" class="link">ROMANCE</a></h3>
                <p>Amor entrelazado en historias cautivadoras</p>
            </header>
        </article>
        <article>
            <span class="image">
                <img src="{% static 'images/pyj.jpg' %}" alt="" />
            </span>
            <header class="major">
                <h3><a href="{% url 'ficcion' %}" class="link">FICCIÓN</a></h3>
                <p>Aventuras en mundos imaginarios inexplorados</p>
            </header>
        </article>
        <article>
            <span class="image">
                <img src="{% static 'images/ciencia.jpg' %}" alt="" />
            </span>
            <header class="major">
                <h3><a href="{% url 'ciencia' %}" class="link">CIENCIA</a></h3>
                <p>Explorando los misterios del cosmos</p>
            </header>
        </article>
        <article>
            <span class="image">
                <img src="{% static 'images/historia.jpg' %}" alt="" />
            </span>
            <header class="major">
                <h3><a href="{% url 'historia' %}" class="link">HISTORIA</a></h3>
                <p>Viajes en el tiempo narrados</p>
            </header>
        </article>
        <article>
            <span class="image">
                <img src="{% static 'images/guerra.jpeg' %}" alt="" />
            </span>
            <header class="major">
                <h3><a href="{% url 'guerra' %}" class="link">GUERRA</a></h3>
                <p>Epicos relatos de valentía militar</p>
            </header>
        </article>
    </section>
    
    <!-- Two -->
    <section id="two">
        <div class="inner">
            <header class="major">
                <h2>Massa libero</h2>
            </header>
            <p>Nullam et orci eu lorem consequat tincidunt vivamus et sagittis libero. Mauris aliquet magna magna sed nunc rhoncus pharetra. Pellentesque condimentum sem. In efficitur ligula tate urna. Maecenas laoreet massa vel lacinia pellentesque lorem ipsum dolor. Nullam et orci eu lorem consequat tincidunt. Vivamus et sagittis libero. Mauris aliquet magna magna sed nunc rhoncus amet pharetra et feugiat tempus.</p>
            <ul class="actions">
                <li><a href="landing.html" class="button next">Get Started</a></li>
            </ul>
        </div>
    </section>
    
    </div>
    
 
{% endblock contenido %}
