{% extends 'base.html' %}


{% block contenido %}
<div>
  <h2>PUBLICACIONES</h2>
</div>

<!--Llamamos al diccionario de contexto dentro de la funcion publicaciones_views-->
{% for publicacion in publicaciones %}
<!--Tarjeta de Publicación-->
<div class="card">
  <div class="card-header">
    {{publicacion.fecha}}
  </div>
  <div class="card-body">
    <h5 class="card-title">{{publicacion.titulo}}</h5>
    <p class="card-text">{{publicacion.cuerpo}}</p>
    <a href="#" class="btn btn-primary">Leer más</a>
  </div>
</div>
{% endfor %}


{% endblock contenido %}