{% extends 'base.html' %}


{% block contenido %}
    <div><h2>PUBLICACIONES</h2></div>

  <!--Tarjeta de Publicación-->
  <div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Publicación</h5>
      <p class="card-text">escribe tu publicacion aquí.</p>
      <a href="#" class="btn btn-primary">Leer más</a>
    </div>
  </div>


  
  <!--Tarjeta de Publicación-->
  <div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Publicación</h5>
      <p class="card-text">escribe tu publicacion aquí.</p>
      <a href="#" class="btn btn-primary">Leer más</a>
    </div>
  </div>



  
  <!--Tarjeta de Publicación-->
  <div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Publicación</h5>
      <p class="card-text">escribe tu publicacion aquí.</p>
      <a href="#" class="btn btn-primary">Leer más</a>
    </div>
  </div>


  
  <!--Tarjeta de Publicación-->
  <div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Publicación</h5>
      <p class="card-text">escribe tu publicacion aquí.</p>
      <a href="#" class="btn btn-primary">Leer más</a>
    </div>
  </div>

  



   
{% endblock contenido %}
    