{% extends 'base.html' %}
{% load static %}


{% block contenido %}
<!-- Banner -->
<section id="banner" class="min">
    <div class="inner">
                
    <header class="min">
        <h1>¿ESTÁS LISTO PARA DESCUBRIR EL AMOR Y TODO LO QUE ESTO CONLLEVA?</h1>
    </header>
<div class="content">
    <ul class="actions">
        <li><a href="#one" class="button next scrolly">EMPEZA TU RECORRIDO</a></li>
    </ul>
</div>
</div>
</section>

    <!-- Main -->
    <div id="main">
        <!-- One -->
        <section id="one" class="tiles">
            <article>
                <span class="image">
                    <img src="{% static 'images/ruiseñor.jpg' %}" alt="" />
                </span>
                <header class="major">
                    <h3><a href="landing.html" class="link">ROMANCE</a></h3>
                    <p>Amor entrelazado en historias cautivadoras</p>
                </header>
            </article>
            <article>
                <span class="image">
                    <img src="{% static 'images/ruiseñor.jpg' %}" alt="" />
                </span>
                <header class="major">
                    <h3><a href="landing.html" class="link">ROMANCE</a></h3>
                    <p>Amor entrelazado en historias cautivadoras</p>
                </header>
            </article>
            <article>
                <span class="image">
                    <img src="{% static 'images/ruiseñor.jpg' %}" alt="" />
                </span>
                <header class="major">
                    <h3><a href="landing.html" class="link">ROMANCE</a></h3>
                    <p>Amor entrelazado en historias cautivadoras</p>
                </header>
            </article>
            <article>
                <span class="image">
                    <img src="{% static 'images/ruiseñor.jpg' %}" alt="" />
                </span>
                <header class="major">
                    <h3><a href="landing.html" class="link">ROMANCE</a></h3>
                    <p>Amor entrelazado en historias cautivadoras</p>
                </header>
            </article>
            <article>
                <span class="image">
                    <img src="{% static 'images/ruiseñor.jpg' %}" alt="" />
                </span>
                <header class="major">
                    <h3><a href="landing.html" class="link">ROMANCE</a></h3>
                    <p>Amor entrelazado en historias cautivadoras</p>
                </header>
            </article>
            <article>
                <span class="image">
                    <img src="{% static 'images/ruiseñor.jpg' %}" alt="" />
                </span>
                <header class="major">
                    <h3><a href="landing.html" class="link">ROMANCE</a></h3>
                    <p>Amor entrelazado en historias cautivadoras</p>
                </header>
            </article>
        </section>
{% endblock contenido %}
