{% extends 'base.html' %}
{% load static %}


{% block contenido %}
<!-- Banner -->
<section id="banner" class="min">
    <div class="inner">
                
    <header class="min">
        <h1>¿ESTÁS LISTO PARA DESCUBRIR CUAN VALIENTE ERES?</h1>
    
    </header>
<div class="content">
    <ul class="actions">
        <li><a href="#one" class="button next scrolly">EMPEZA TU RECORRIDO</a></li>
    </ul>
</div>
</div>
</section>

    <!-- Main -->
    <div id="main">
        <!-- One -->
        <section id="one" class="tiles">
            <article>
                <span class="image">
                    <img src="{% static 'images/it.jpg' %}" alt="" />
                </span>
                <header class="major">
                    <h3><a href="landing.html" class="link">TERROR</a></h3>
                    <p>Horrores entre páginas inquietantes</p>
                </header>
            </article>
            <article>
                <span class="image">
                    <img src="{% static 'images/draculam.jpg' %}" alt="" />
                </span>
                <header class="major">
                    <h3><a href="landing.html" class="link">dracula</a></h3>
                    <p>la historia de dracula</p>
                </header>
            </article>
            <article>
                <span class="image">
                    <img src="{% static 'images/amyt.jpg' %}" alt="" />
                </span>
                <header class="major">
                    <h3><a href="landing.html" class="link">terror en amytyville</a></h3>
                    <p>el asesinato de amytiville, basadas en echos reales</p>
                </header>
            </article>
            <article>
                <span class="image">
                    <img src="{% static 'images/kaikim.jpg' %}" alt="" />
                </span>
                <header class="major">
                    <h3><a href="landing.html" class="link">kaikin</a></h3>
                    <p>cuentos de terror y locura</p>
                </header>
            </article>
            <article>
                <span class="image">
                    <img src="{% static 'images/cuentosm.jpg' %}" alt="" />
                </span>
                <header class="major">
                    <h3><a href="landing.html" class="link">nunca apagues la luz</a></h3>
                    <p>y otros cuentos de terror</p>
                </header>
            </article>
            <article>
                <span class="image">
                    <img src="{% static 'images/sleeph.jpg' %}" alt="" />
                </span>
                <header class="major">
                    <h3><a href="landing.html" class="link">sleeph hollow</a></h3>
                    <p>el ginete sin cabeza</p>
                </header>
            </article>
        </section>
    

{% endblock contenido %}
    